/* header{
    background-color: #1a1a1a;
}
body {
    color: #333;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
}
nav{
    
            color: white;
            text-align: center;
            padding: 1em 0;
}
footer{
    background-color: #1a1a1a;
} */